
*.layout
*.exe
*.depend
*.cbp
*.o
5-desafio_prova/prova1A/a2/bin/Debug/entrada.txt
5-desafio_prova/prova1A/a2/bin/Debug/entrada_negativos.txt
5-desafio_prova/prova1A/a1/a1_definitivo.txt
5-desafio_prova/prova1A/a1/explicacao.txt
5-desafio_prova/prova1A/a1/explicacao.txt
5-desafio_prova/prova1A/a1/explicacao.txt
0-labAeds1/\#lab_organizado/lab01-avaliacaoNota/bin/Debug/entrada1.txt
0-labAeds1/\#lab_organizado/lab01-avaliacaoNota/bin/Debug/entrada2.txt
0-labAeds1/\#lab_organizado/lab01-avaliacaoNota/bin/Debug/entrada3.txt
0-labAeds1/\#lab_organizado/lab01-avaliacaoNota/bin/Debug/entrada4.txt
0-labAeds1/\#lab_organizado/lab01-avaliacaoNota/bin/Debug/saida1.txt
0-labAeds1/\#lab_organizado/lab01-avaliacaoNota/bin/Debug/saida2.txt
0-labAeds1/\#lab_organizado/lab01-avaliacaoNota/bin/Debug/saida3.txt
0-labAeds1/\#lab_organizado/lab01-avaliacaoNota/bin/Debug/saida4.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/entrada1.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/entrada2.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/entrada3.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/entrada4.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/entrada5.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/saida1.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/saida2.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/saida3.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/saida4.txt
0-labAeds1/\#lab_organizado/lab02-angulos/bin/Debug/saida5.txt
